.inner_wrap {
    /* padding: 0 100px; */
    width: 90%;
    margin: 0 auto;
}

/* header */
#box_header {
    padding-top: 120px;
    padding-left: 50px;
}
#box_header h1, h2 {
    font-family: 'Baskerville', sans-serif;
    font-size: 50px;
}
#box_header h1 {
    position: relative;
}
#box_header h1:before {
    content: '';
    position: absolute;
    width: 283px;
    height: 5px;
    background-color: #E88296;
    top: 44px;
}
#box_header h2 {
    padding-top: 10px;
}

#box_header .direct_nav {
    font-family: 'Graphik 600', sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 202px;
    position: absolute;
    top: 98px;
    right: 5%;
}

#box_header .direct_nav ul li {
    padding: 6px 0;
}
#box_header .direct_nav ul li a,
#box_header .direct_nav ul li span {
    text-decoration: underline;
    text-decoration-color: #E88296;
    transition: 0.3s;
}
#box_header .direct_nav ul li:hover a,
#box_header .direct_nav ul li:hover span {
    background-color: #E88296;
}
/* #box_header .direct_nav form input  */
.search {
    position: relative;
    width: 202px;
    height: 32px;
    border: 1px solid #333;
    margin-top: 8px;
    padding: 0 38px;
    padding-top: 2px;
}
/* #box_header .direct_nav form input */
.search::placeholder {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.8px;
}
/* #box_header .direct_nav form button  */
.btn_search {
    position: absolute;
    background-image: url(../img/i_search.svg);
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    left: 10px;
    margin-top: 16px;
}

/* 스크롤하면 나타나는 메뉴 바 */
#navbar {
    display: block;
    width: 100%;
    top: -80px;
    height: 80px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 100;
    transition: top 0.5s;
}
#navbar h1 {
    font-family: 'Baskerville', sans-serif;
    font-size: 36px;
    padding-left: 50px;
    padding-top: 22px;
}
#navbar form {
    position: absolute;
    right: 260px;
    top: 16px;
}
#navbar .direct {
    position: absolute;
    right: 50px;
    top: 26px;
    height: 36px;
    z-index: 11;
}
#navbar .direct li {
    float: left;
    padding-left: 35px;
    height: 36px;
}
#navbar .direct li a {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 30px;
    height: 30px;
}
#navbar .direct li:nth-child(1) a {
    background-image: url(../img/i_navwish.svg);
}
#navbar .direct li:nth-child(2) a {
    background-image: url(../img/i_cart.svg);
    
}
#navbar .direct li:nth-child(3) a {
    background-image: url(../img/i_profile.svg);
    cursor: pointer;
}


.gnb {
    margin: 30px 0;
    text-align: center;
}
.gnb .main {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb .main > li {
    font-family: 'Graphik 600', sans-serif;
    font-weight: 600;
    line-height: 1em;
    font-size: 18px;
    float: left;
    margin: 0 25px;
    position: relative;
}
.gnb .main > li > a {
    padding: 8px 18px;
}
.gnb .main > li:hover > a {
    border-bottom: 1.5px solid #333;
    box-sizing: border-box;
}
.gnb .main > li:first-child > a {
    background-color: #333;
    color: #fff;
}
.gnb .main > li:last-child a {
    color: #264A46;
}

.gnb .main .sub {
    visibility: hidden;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
    background-color: #FAFAFA;
    padding: 22px 35px;
    top: 28.5px;
    left: 0;
    z-index: 100;
}

.gnb .main .sub li {
    text-align: left;
}

.gnb .main .sub li a {
    display: block;
    padding: 8px 0;
}
.gnb .main .sub li a:hover {
    text-decoration: underline;
}
.gnb .main .sub li span {
    font-weight: 500;
    display: block;
    padding: 8px 0;
}

.gnb .main li:nth-child(1) .sub {
    width: 330px;
}
.gnb .main li:nth-child(2) .sub {
    width: 480px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.gnb .main li:nth-child(3) .sub {
    width: 282px;
}
.gnb .main li:nth-child(4) .sub {
    left: -180px;
    width: 550px;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.gnb .main li:nth-child(5) .sub {
    width: 270px;
    left: -140px;
}

/* floating btn */
#btn_top {
    display: block;
    position: fixed;
    right: 50px;
    bottom: -140px;
    width: 70px;
    height: 70px;
    background-color: #333;
    color: #fff;
    transition: bottom 0.5s;
    text-align: center;
    font-size: 13px;
    z-index: 100;
}
#btn_top:hover {
    cursor: pointer;
}
#btn_top img {
    padding-top: 12px;
    padding-bottom: 9px;
}

/* ACCOUNT SETTINGS */
.ac_wrap {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
}
#account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#account > div {
    background-color: #fff;
    position: relative;
    margin: 100px auto;
    padding: 70px 0;
    display: none;
}
#account .btn_close {
    background-image: url(../img/i_close.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    position: absolute;
    top: 50px;
    right: 50px;
}
.login {
    width: 1000px;
}
.ac_title {
    font-family: 'Baskerville BT', sans-serif;
    font-size: 50px;
    font-weight: 900;
}
#account .ac_desc {
    letter-spacing: -1px;
    padding-top: 24px;
    display: block;
}
#account form {
    padding-top: 56px;
    width: 482px;
    margin: 0 auto;
}
#account form p:not(:last-child) {
    text-align: left;
    margin-bottom: 50px;
}
#account label {
    display: block;
    font-family: 'Graphik 800', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #264A46;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}
#account input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #264A46;
    padding: 8px 0 4px 0;
}
#account input::placeholder {
    font-size: 18px;
    color: #838383;
}
.btn_black {
    background-color: #264A46;
    color: #fff;
    font-family: 'Graphik 800', sans-serif;
    font-weight: 800;
    font-size: 14px;
    padding: 24px 0;
    cursor: pointer;
    height: 57px;
}
.btn_white {
    background-color: #fff;
    color: #264A46;
    font-family: 'Graphik 800', sans-serif;
    font-weight: 800;
    font-size: 14px;
    padding: 22px 0;
    margin-top: 16px;
    cursor: pointer;
    width: 100%;
    height: 57px;
    border: 1px solid #264A46;
    display: none;
}

.login .forgot {
    position: absolute;
    bottom: 178px;
    right: 254px;
    font-size: 16px;
    color: #5D5D5D;
}
.tojoin {
    font-size: 16px;
    letter-spacing: -1px;
    color: #5D5D5D;
    margin-top: 20px;
}
.btn_join, .btn_relogin {
    display: inline;
    font-family: 'Graphik', sans-serif;
    text-decoration: underline;
}
.btn_join:hover, .btn_relogin:hover {
    opacity: 0.7;
}
.findpw {
    width: 810px;
}
.findpw .btn_black {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 16px;
}
.signup {
    width: 1000px;
}


/* footer */
footer {
    height: 506px;
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    letter-spacing: -1px;
    border-top: 1px solid #CCCCCC;
    clear: both;
}
footer div a {
    padding: 8px 0;
    display: inline-block;
}
footer p.title {
    text-transform: uppercase;
    font-family: 'Graphik 700', sans-serif;
    font-weight: 700;
    padding-bottom: 2px;
}

footer .info p {
    line-height: 27px;
}
footer .info p.copy {
    display: inline-block;
    padding-top: 32px;
}
footer .contact li {
    padding: 8px 0;
}

footer .connect ul li {
    float: left;
    padding: 20px 6px;
}
footer .connect ul li button {
    border: 1px solid black;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}
footer .connect ul li:nth-child(1) button {
    background-image: url(../img/i_facebook2.svg);
}
footer .connect ul li:nth-child(2) button {
    background-image: url(../img/i_instagram.svg);
}
footer .connect ul li:nth-child(3) button {
    background-image: url(../img/i_twitter.svg);
}
