@charset "utf-8";
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.cdnfonts.com/css/graphik?styles=44658,44662,44652,44656');
@import url('https://fonts.cdnfonts.com/css/baskerville?styles=17603,17607,17608');        
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");

/* @font-face {
  font-family: "Noto Sans KR";
  src: url(../font/NotoSansKR-Regular.otf) format('otf');
  letter-spacing: -1px;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Graphik';
  src: url(../font/GraphikSemibold.otf) format('otf');
  unicode-range: U+0041-005A, U+0061-007A;
} */


* {
  box-sizing: border-box;
}
.hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
body {
    font-family: "Noto Sans KR";
    font-size: 18px;
    color: #333;
}
input {
  outline: 0;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
.toggleBtn {
  cursor: pointer;
}